<div class="row">
    <h1>Proyectos Realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">    
            <h3>Proyecto Integrador </h3> 
            <h4>Argentina Programa #Yo Programo</h4>
            <p>Portfolio personal que plasma las habilidades adquiridas durante el desarrollo del Programa Argentina Programa</p>      
        </div>
        <div class="col-sm-12 col-md-3 col-lg3 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/proyint.jpg" class="img-fluid img-proyecto">
        </div>
    </div>
</div>