<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/fotoperfil.jpg" class="img-fluid" id="fotodeperfil">
     </div>
     <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
         <p id="nombre">María Noelia Moya</p>
         <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
         <span>
              <h1>Acerca de mí</h1>
              <p>Procuradora con más de 6 años de experiencia en administración de pyme. Me considero una persona responsable, dinámica y con grandes habilidades sociales; y estoy en la búsqueda de nuevos conocimientos orientados en el campo de la programación de base de datos y ciberseguridad que complementen mi formación profesional. </p>
         </span>
    </div>
</div>