<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
        <ul>
            <li>
                <h2>Escuela de Comercio "Martín Zapata"</h2> - <h3> (2007)</h3>
            </li>
            <p>Título secundario con orientación en Economía y Gestíon de las Organizaciones. (Colegio dependiente de la UNCuyo)</p>
        </ul>
        <ul>
            <li>
                <h2>Universidad Siglo XXI</h2> - <h3> (2019)</h3>
            </li>
            <p>Título de Procuración y 23 materias aprobadas, al día de la fecha, del plan de estudio de Abogacía.</p>
        </ul>
        <ul>
            <li>
                <h2>Escuela Superior de Lenguas Extranjeras</h2> - <h3> (2008)</h3>
            </li>
            <p>Curso completo de Inglés, nivel básico. (Escuela dependiente de la Universidad del Aconcagua)</p>
        </ul>
    </div>
</div>