<div class="row">
 <h1>Hard & Soft Skills</h1>
 <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
         [percent]="35"
         [radius]="60"
         [imageSrc]="'assets/kysimg/html.jpg'"
         [showImage]="true"
         [imageHeight]="60"
         [imageWidth]="60"
         [outerStrokeWidth]="7"
         [innerStrokeWidth]="3" 
         [outerStrokeColor]="'#7B68EE'"
         [innerStrokeColor]="'#DDA0DD'"
         [animation]="true"
         [animationDuration]="700"
     ></circle-progress>
    </div>
     <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
         [percent]="35"
         [radius]="60"
         [imageSrc]="'/assets/kysimg/css.jpg'"
         [showImage]="true"
         [imageHeight]="60"
         [imageWidth]="60"
         [outerStrokeWidth]="7"
         [innerStrokeWidth]="3"
         [outerStrokeColor]="'#7B68EE'"
         [innerStrokeColor]="'#DDA0DD'"
         [animation]="true"
         [animationDuration]="700"
     ></circle-progress>
     </div>
     <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
         [percent]="45"
         [radius]="60"
         [imageSrc]="'/assets/kysimg/js.jpg'"
         [showImage]="true"
         [imageHeight]="60"
         [imageWidth]="60"
         [outerStrokeWidth]="7"
         [innerStrokeWidth]="3"
         [outerStrokeColor]="'#7B68EE'"
         [innerStrokeColor]="'#DDA0DD'"
         [animation]="true"
         [animationDuration]="700"
     ></circle-progress>
     </div>
     <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
         [percent]="75"
         [radius]="60"
         [imageSrc]="'/assets/kysimg/ingles.jpg'"
         [showImage]="true"
         [imageHeight]="60"
         [imageWidth]="60"
         [outerStrokeWidth]="7"
         [innerStrokeWidth]="3"
         [outerStrokeColor]="'#7B68EE'"
         [innerStrokeColor]="'#DDA0DD'"
         [animation]="true"
         [animationDuration]="700"
     ></circle-progress>
     </div>
     <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
         [percent]="90"
         [radius]="60"
         [imageSrc]="'/assets/kysimg/comunicacion.jpg'"
         [showImage]="true"
         [imageHeight]="60"
         [imageWidth]="60"
         [outerStrokeWidth]="7"
         [innerStrokeWidth]="3"
         [outerStrokeColor]="'#7B68EE'"
         [innerStrokeColor]="'#DDA0DD'"
         [animation]="true"
         [animationDuration]="700"
     ></circle-progress>
     </div>
     <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
         [percent]="80"
         [radius]="60"
         [imageSrc]="'/assets/kysimg/trabajoenequipo.jpg'"
         [showImage]="true"
         [imageHeight]="60"
         [imageWidth]="60"
         [outerStrokeWidth]="7"
         [innerStrokeWidth]="3"
         [outerStrokeColor]="'#7B68EE'"
         [innerStrokeColor]="'#DDA0DD'"
         [animation]="true"
         [animationDuration]="700"
     ></circle-progress>
     </div>
</div>