<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
        <ul>
            <li>
                <h2>Administrativa en Estudio Contable</h2> - <h3> (2007)</h3>
            </li>
            <p>Pasantía no remunerada. Se me asignaron tareas de carga de datos en aplicativos de afip y anses; y archivo de documentación.</p>
        </ul>
        <ul>
            <li>
                <h2>Copa América Argentina 11´</h2> - <h3> (2011)</h3>
            </li>
            <p>Trabajo voluntario, sede Mendoza. Asignada al área de servicios al espectador, donde desarrollaba tareas tales como recepción y ubicación de espectadores en el estadio, promoción de lugares de interés turistico de la provincia y de un programas que dearrolló el ministerio de educaión de la nación junto al de deportes para promover la lectura. </p>
        </ul>
        <ul>
            <li>
                <h2>Ulloa Refrigeración</h2> - <h3> (desde 2015)</h3>
            </li>
            <p>Administrativa en electromecánica. Desarrollo tareas tales como; control de stock, manejo de agenda, facturación, asesoramiento telefónico y manejo de base de datos interna. </p>
        </ul>
    </div>
</div>
 